<!DOCTYPE html>
<!--[if IE 6]><html class="msie msie6"><![endif]-->
<!--[if IE 7]><html class="msie msie7"><![endif]-->
<!--[if IE 8]><html class="msie msie8"><![endif]-->
<!--[if IE 9]><html class="msie msie9"><![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <title>{{ 'header.hotel_management.system'|trans }}</title>


    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
